<div class="row">
  <div class="col-lg-8 col-md-12">
    <div class="row">
      <div class="col">

        <div class="jumbotron jumbotron-fluid m-3">
          <div class="container">
            <h1 class="display-4">API Color</h1>
            <p class="lead">
              API Color es una herramienta para diseñadores y desarrolladores de proyectos que se encuentran perdidos en la decisión de tomar una paleta de colores basada en la psicología del color.
            </p>
            <div class="row">
              <div class="col">
                <a href="https://github.com/OmarMtya/apicolor-back">
                  <div class="row">
                    <div class="col text-center">
                      <img height="50" src="https://image.flaticon.com/icons/png/512/23/23957.png" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <small>
                        Backend
                      </small>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="https://github.com/OmarMtya/apicolor-front">
                  <div class="row">
                    <div class="col text-center">
                      <img height="50" src="https://image.flaticon.com/icons/png/512/23/23957.png" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <small>
                        Frontend
                      </small>
                    </div>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-subcategorias [categoriaSeleccionada]="categoriaSeleccionada"></app-subcategorias>
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-12">
    <app-categorias (seleccionado)="seleccionandoCategoria($event)"></app-categorias>
  </div>
</div>
