<div class="row">
  <div class="col-lg-8 col-md-12">
    <div class="row">
      <div class="col">

        <div class="jumbotron jumbotron-fluid m-3">
          <div class="container">
            <h1 class="display-4">API Color</h1>
            <p class="lead">
              API Color es una herramienta para diseñadores y desarrolladores de proyectos que se encuentran perdidos en la decisión de tomar una paleta de colores basada en la psicología del color.
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-subcategorias [categoriaSeleccionada]="categoriaSeleccionada"></app-subcategorias>
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-12">
    <app-categorias (seleccionado)="seleccionandoCategoria($event)"></app-categorias>
  </div>
</div>
